<h1>Listing products</h1>
<p class="lead">Manage your products.<%= link_to 'New Product', new_product_path %></p>

<table>
<% @products.each do |product| %>
	<tr class="well">
		
		<td class="span2">
			<%= image_tag(product.image_url, class: 'list_image thumbnail')%>
		</td>
		
		<td class="list_description">
			<dl>
				<dt><%= product.title %></dt>
				<dd><%= truncate(strip_tags(product.description), length: 250)%></dd>
			</dl>
		</td>
		
		<td class="list_actions span1">
			<p><%= link_to 'Show', product_path(product), class: "btn " %></p>
			<p><%= link_to 'Edit', edit_product_path(product), class: "btn" %></p>
			<p><%= link_to 'Dele', product,
								confirm: 'Are you sure?',
								method: :delete,
								class: "btn btn-danger" %>
			</p>
		</td>
	</tr>
<% end %>
</table>

<br>

