<% if notice %>
<p id="notice" class="alert alert-info">
	<strong>Information </strong><%= notice %>
</p>
<% end %>

<% if flash[:error] %>
<p id="error" class="alert alert-error">
	<strong>Error </strong><%= flash[:error] %>
</p>
<% end %>

<h1><%= t('.title_html') %></h1>
<!-- <p class="lead">
	Find your books here.
</p> -->

<div id="my-carousel" class="well carousel slide" data-interval="1000">
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag("indigo.jpg") %>
			<div class="carousel-caption">
				<h4>Bootstrap v1.0.0</h4>
			</div>
		</div>
		<div class="item">
			<%= image_tag("aqua.jpg") %>
			<div class="carousel-caption">
				<h4>Bootstrap v1.0.0</h4>
			</div>
		</div>
		<div class="item">
			<%= image_tag("color-splash.jpg")%>
			<div class="carousel-caption">
				<h4>Bootstrap v1.0.0</h4>
			</div>
		</div>
	</div>
	<a class="carousel-control left" href="#my-carousel" data-slide="prev">‹</a>
	<a class="carousel-control right" href="#my-carousel" data-slide="next">›</a>
</div>

<div id="book_list">
	<%= render @products %>
</div>

<div id="paginate">
	<%= will_paginate @products, renderer: BootstrapPagination::Rails %>
</div>
